@font-face {
  font-family: 'CkFont11';
  src:  url('fonts/CkFont11.eot?9snb40');
  src:  url('fonts/CkFont11.eot?9snb40#iefix') format('embedded-opentype'),
    url('fonts/CkFont11.ttf?9snb40') format('truetype'),
    url('fonts/CkFont11.woff?9snb40') format('woff'),
    url('fonts/CkFont11.svg?9snb40#CkFont11') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ck-"], [class*=" ck-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CkFont11' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ck-navigation:before {
  content: "\e94a";
}
.ck-previous:before {
  content: "\e901";
}
.ck-next:before {
  content: "\ea34";
}
.ck-edit-geom:before {
  content: "\e900";
}
.ck-undo2:before {
  content: "\e967";
}
.ck-redo2:before {
  content: "\e968";
}
.ck-selects:before {
  content: "\e001";
}
.ck-select-box:before {
  content: "\e002";
}
.ck-select-circle:before {
  content: "\e003";
}
.ck-select-point:before {
  content: "\e004";
}
.ck-measures:before {
  content: "\e010";
}
.ck-measure-length:before {
  content: "\e011";
}
.ck-measure-area:before {
  content: "\e012";
}
.ck-gps:before {
  content: "\e020";
}
.ck-compass:before {
  content: "\e902";
}

.ck-search:before{
	content:"\f2d5";
}

