/*
 * Ck-font : font icons for Chinook Client ck-viewer
 * Created with https://icomoon.io/app/
 *
 * Import project with "selection.json" file, add icons, and generate font (change version number CkFont11, CkFont12 ...)
 *
 * Update :
 *  change $ck-font-name
 *  copy/paste  Icon Glyph from style.css
 */

$ck-font-path: 'ck-font/fonts' ;
// get-resource-path('fonts');
$ck-font-name: CkFont12;

// FONT PATH
// -------------------------
@font-face {
    font-family: '#{$ck-font-name}';
    src:    url('#{$ck-font-path}/#{$ck-font-name}.eot?c6hseo');
    src:    url('#{$ck-font-path}/#{$ck-font-name}.eot?c6hseo#iefix') format('embedded-opentype'),
        url('#{$ck-font-path}/#{$ck-font-name}.ttf?c6hseo') format('truetype'),
        url('#{$ck-font-path}/#{$ck-font-name}.woff?c6hseo') format('woff'),
        url('#{$ck-font-path}/#{$ck-font-name}.svg?c6hseo##{$ck-font-name}') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Base Class Definition
// -------------------------
.ckfont {
  display: inline-block;
  font: normal normal normal 14px/1 #{$ck-font-name};
  font-size: 16px; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}

// Icon Sizes
// -------------------------
/* makes the font 33% larger relative to the icon container */
.ckfont-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.ckfont-2x { font-size: 2em; }
.ckfont-3x { font-size: 3em; }
.ckfont-4x { font-size: 4em; }
.ckfont-5x { font-size: 5em; }



// Icon Glyph
// -------------------------
.ck-selects:before {
    content: "\e001";
}
.ck-select-box:before {
    content: "\e002";
}
.ck-select-circle:before {
    content: "\e003";
}
.ck-select-point:before {
    content: "\e004";
}
.ck-snap:before {
    content: "\e007";
}
.ck-measures:before {
    content: "\e010";
}
.ck-measure-length:before {
    content: "\e011";
}
.ck-measure-area:before {
    content: "\e012";
}
.ck-gps:before {
    content: "\e020";
}
.ck-compass:before {
    content: "\e030";
}
.ck-stack:before {
    content: "\e040";
}
.ck-search:before {
    content: "\e050";
}
.ck-zoom-in:before {
    content: "\e051";
}
.ck-zoom-out:before {
    content: "\e052";
}
.ck-enlarge:before {
    content: "\e053";
}
.ck-shrink:before {
    content: "\e054";
}
.ck-eraser:before {
    content: "\e015";
}
// -------------------------



// The "x-ck" class should be used in Ext JS applications
.x-ckfont:before {
    font-family: '#{$ck-font-name}';
}
